body {
  font-family: "Montserrat", sans-serif;
  background: #e5e5e5;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.left-text {
  color: #ffffff;
}

.left-panel {
  background: #1e2939;
}

.photo {
  margin-top: 40px;
}

.left-text {
  padding-left: 40px;
}

.left-text a {
  margin-left: 5px;
}

a {
  color: #595959;
}

.left-text ul {
  color: #fb6d3a;
  line-height: 24px;
  font-size: 14px;
  margin-left: 0;
  padding-left: 0;
  list-style-position: inside;
}

.left-text ul span {
  color: #ffffff;
}

.work-position h3 {
  margin: 0px;
  padding: 0px;
}

.color-orange {
  color: #fb6d3a;
}

.education {
  margin-top: 43px;
}

.color-gray {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

.block-3 {
  margin-top: 51px;
}

.ordered-list {
  list-style: none;
  padding-left: 0;
  line-height: 0px;
  margin-top: 8px;
}

.ordered-list p {
  display: inline-block;
  font-weight: bold;
  width: 13px;
}

.projects {
  margin-bottom: 0px;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-bottom: 40px;
}

.bold {
  font-weight: 700;
}

main {
  padding: 102px 88px 102px 88px;
}

.main-description {
  width: 400px;
}

.job-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
}

.block-2 {
  width: 485px;
  margin-bottom: 51px;
}

.no-line {
  text-decoration: none;
}

.work-positions-list {
  padding-left: 0;
  list-style-position: inside;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.header-primary {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 12px;
}

.job-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
